.wrapper-dashboard {
  display: flex;
  justify-content: space-around;
}
.container-dashboard {
  width: 80vw;
}
.flex-dashboard {
  display: flex;

}
.renter-reviews {
  align-items: center;
  margin-left: 20px;
}
