.wrapper-dashboard {
  display: flex;
  justify-content: space-around;
}
.container-dashboard {
  width: 80vw;
}
.flex-dashboard {
  display: flex;

}
.renter-reviews {
  align-items: center;
  margin-left: 20px;
}
.message {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid rgba(220,224,244,0.4);
  background-color: white;
  margin-bottom: 10px;
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
  box-shadow: 3px 3px;
}
.message:last-child {
  border-bottom: none;
}
.message-body {
  flex-grow: 1;
}
.message-name {
  padding-left: 10px;
  min-width: 100px;
}
.message-name h3 {
  font-size: 13px;
  margin-bottom: 0px;
}
.message-name p {
  font-size: 13px;
  font-weight: lighter;
  opacity: 0.6;
  margin-top: 5px;
}
.message-body {
  padding-left: 20px;
  font-size: 13px;
  color: rgba(0,0,0,0.7);
}
.message-body strong{
  color: rgba(0,0,0,0.9);
  color: rgba(0,0,0,0.9);
}
.message-body p {
  margin: 6px 0;
}
.message-status {
  font-size: 12px;
  font-weight: bold;
  padding-right: 50px;
}

