<div class="new-toilet-container">
  <h1>Add a review</h1>
    <div class="form-toilet">
        <%= simple_form_for(@booking) do |f| %>

          <%= f.input :review %>
          <%= f.input :rating, collection: 0..5%>
          <%= f.submit class: 'btn btn-primary' %>
        <% end %>
    </div>
  </div>
