<div class="wrapper-form">

<div class="container-form">
  <h1>Add a review</h1>
    <div class="form-toilet">
        <%= simple_form_for [@booking.toilet, @booking] do |f| %>

          <%= f.input :review %>
          <%= f.input :rating, collection: 0..5%>
          <%= f.submit class: 'btn btn-primary' %>
        <% end %>
    </div>
  </div>
</div>
