<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://gmm2012.org/wp-content/uploads/china-media-pooh-poohs-japanese-luxury-toilet-seats-japan-times_503180.jpg');">
    <div class="banner-content">
      <h1>Poop it</h1>
      <div class="hero-banner-btn">
        <%= link_to "Discover", toilets_path, class:"btn btn-primary" %>  <%= link_to "Host a toilet!", new_toilet_path, class:"btn btn-primary" %>
      </div>
    </div>
    <%= image_tag("poop1.gif") %>
  </div>
</div>
