<% if policy(Toilet).show? %>
<h1><%= @toilet.title %></h1>
<%= cl_image_tag @toilet.picture, height: 300, width: 400, crop: :fill %>
<%= link_to "Go now!", toilet_bookings_path(@toilet), method: :post %>
<%= link_to "Back to search", toilets_path %>
<% end %>
