   <div id="footer">
     <div class="footer text">
       <div class="footer-links">
       </div>

       <div class="footer-nav">
        <p class="text-align">Because There Is No Price For Time<i class="fas fa-dollar-sign"></i></p>
        <p>Just Poop It<i class="fas fa-poo"></i></p>
       </div>
     </div>
   </div>

