<div class="footer">
  <div class="footer-links">
    <%= image_tag 'toilet.png', height: 50 %>
  </div>
  <div class="footer-copyright">
    <p>Poop-It Technologies Inc. is a peer-to-peer toilet sharing, laboratory facility, and social networking company headquartered in Tel Aviv, Israel.</p>
  </div>
</div>


